.container{
    position: relative;
}
.black-box{
    position: relative;
    z-index: 1;
    border: 3px solid black;
    height: 100px;
    margin: 30px;
}

.grey-box{
    position: absolute;
    z-index: 3;
    background: rgb(189, 35, 35);
    height: 60px;
    width: 70%;
    left: 50px;
    top: 50px;

}
.green-box{
    position: absolute;
    z-index: 2;
    background: lightgray;
    height: 100px;
    width: 35%;
    left: 270px;
    top: -15px;
}

